{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  2023 reports – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/version1/iterations/includes/head.html" %}
  <div class="moj-header__container">
    {% include "/version1/iterations/includes/phase-banner.html" %}
  </div>
  {% include "/version1/iterations/includes/primary-nav-reports-selected.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Previous reports</h1>
    	<p class="govuk">No reports have been submitted.</p>
		
    </div>
</div>



{% endblock %}
