{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/version1/includes/head.html" %}
  <div class="moj-header__container">
    {% include "/includes/phase-banner.html" %}
  </div>
  {% include "/version1/upload-download/includes/primary-nav-upload-selected.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="upload">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Check the report before sending</h1>

    <p class="govuk">Check  the summary below represents the report that you want to send to UKEF.</p>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">File uploaded</dt>
        <dd class="govuk-summary-list__value">
          {% if 'barclays' in data['bank-name'] %}
          {{ data['file-name-barclays'] }}

          {% elif 'newable' in data['bank-name'] %}
          {{ data['file-name-newable'] }}

          {% elseif 'lloyds' in data['bank-name'] %}
          {{ data['file-name-lloyds'] }}
          {% endif %}
          
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state" href="upload">
            Change<span class="govuk-visually-hidden"> file</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Report month</dt>
        <dd class="govuk-summary-list__value">
          {{ data['report-month'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Number of facilities</dt>
        <dd class="govuk-summary-list__value">
          20
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Number of fee payments</dt>
        <dd class="govuk-summary-list__value">
          20
        </dd>
        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>
    </dl>
    <!--<h2 class="govuk-heading-m">Is this the correct report?</h2>-->
    <form class="form" action="confirmation" method="get">
      <input type="hidden" name="report-uploaded" value="sent" />

      

      {{ govukButton({ text: "Confirm and send" }) }}
    </form>
  </div>
</div>


{% endblock %}
