{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/version1/includes/head.html" %}
  <div class="moj-header__container">
    {% include "/includes/phase-banner.html" %}
  </div>
  {% include "/version1/upload-download/includes/primary-nav-nothing-selected.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
     
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              {{ data['report-month'] }} GEF report sent to UKEF
            </h1>
            
          </div>
  
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">A confirmation email has been sent to
          {% if 'barclays' in data['bank-name'] %}
          tradefinance@barclays.com.

          {% elif 'newable' in data['bank-name'] %}
          tradefinance@newable.co.uk.

          {% elif 'rbs' in data['bank-name'] %}
          transaction.control@rbs.co.uk.

          {% elif 'clydesdale' in data['bank-name'] %}
          tradefinance@cybg.com.

          {% elif 'hsbc' in data['bank-name'] %}
          tradefinance@hsbc.com.

          {% elseif 'lloyds' in data['bank-name'] %}
          tradefinance@lloydsbanking.com.

          {% elseif 'santander' in data['bank-name'] %}
          tsonlinesupport@santander.co.uk.

          {% endif %}
        </p>
        {{ govukButton({
            text: "Sign out",
            href: "sign-in"
          }) }}
        </div>
    </div>

{% endblock %}
