{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Issued facilities – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/version1/upload-download/includes/head.html" %}
  <div class="moj-header__container">
    {% include "/includes/phase-banner.html" %}
  </div>
  {% include "/version1/upload-download/includes/primary-nav-facilities-selected.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Issued facilities</h1>

    <!--  -->
    <table class="govuk-table" data-module="moj-sortable-table">
        <caption class="govuk-table__caption govuk-table__caption--l"></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">Bank facility reference</th>
            <th scope="col" class="govuk-table__header" aria-sort="ascending">UKEF&nbsp;facility&nbsp;ID</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Base&nbsp;currency</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Value</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-1-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-1-ref-newable'] }}
              
              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-1-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-1-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-1-ukef-id'] }}"><a href="facility1">{{ data['facility-1-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-1-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-1-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-1-limit-sort'] }}">{{ data['facility-1-limit'] }}</td>
          </tr>
  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-2-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-2-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-2-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-2-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-2-ukef-id'] }}"><a href="facility2">{{ data['facility-2-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-2-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-2-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-2-limit-sort'] }}">{{ data['facility-2-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-4-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-4-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-4-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-4-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-4-ukef-id'] }}"><a href="facility4">{{ data['facility-4-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-4-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-4-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-4-limit-sort'] }}">{{ data['facility-4-limit'] }}</td>
          </tr>
  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-5-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-5-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-5-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-5-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-5-ukef-id'] }}"><a href="facility5">{{ data['facility-5-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-5-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-5-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-5-limit-sort'] }}">{{ data['facility-5-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-10-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-10-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-10-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-10-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-10-ukef-id'] }}"><a href="#">{{ data['facility-10-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-10-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-10-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-10-limit-sort'] }}">{{ data['facility-10-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-11-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-11-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-11-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-11-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-11-ukef-id'] }}"><a href="#">{{ data['facility-11-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-11-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-11-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-11-limit-sort'] }}">{{ data['facility-11-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-12-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-12-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-12-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-12-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-12-ukef-id'] }}"><a href="#">{{ data['facility-12-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-12-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-12-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-12-limit-sort'] }}">{{ data['facility-12-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-13-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-13-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-13-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-13-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-13-ukef-id'] }}"><a href="#">{{ data['facility-13-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-13-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-13-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-13-limit-sort'] }}">{{ data['facility-13-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-14-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-14-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-14-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-14-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-14-ukef-id'] }}"><a href="#">{{ data['facility-14-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-14-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-14-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-14-limit-sort'] }}">{{ data['facility-14-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-15-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-15-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-15-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-15-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-15-ukef-id'] }}"><a href="#">{{ data['facility-15-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-15-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-15-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-15-limit-sort'] }}">{{ data['facility-15-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-16-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-16-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-16-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-16-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-16-ukef-id'] }}"><a href="#">{{ data['facility-16-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-16-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-16-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-16-limit-sort'] }}">{{ data['facility-16-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-17-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-17-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-17-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-17-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-17-ukef-id'] }}"><a href="#">{{ data['facility-17-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-17-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-17-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-17-limit-sort'] }}">{{ data['facility-17-limit'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-18-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-18-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-18-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-18-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-18-ukef-id'] }}"><a href="#">{{ data['facility-18-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-18-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-18-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-18-limit-sort'] }}">{{ data['facility-18-limit'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-19-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-19-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-19-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-19-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-19-ukef-id'] }}"><a href="#">{{ data['facility-19-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-19-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-19-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-19-limit-sort'] }}">{{ data['facility-19-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-20-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-20-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-20-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-20-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-20-ukef-id'] }}"><a href="#">{{ data['facility-20-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-20-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-20-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-20-limit-sort'] }}">{{ data['facility-20-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-21-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-21-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-21-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-21-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-21-ukef-id'] }}"><a href="#">{{ data['facility-21-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-21-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-21-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-21-limit-sort'] }}">{{ data['facility-21-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-22-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-22-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-22-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-22-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-22-ukef-id'] }}"><a href="#">{{ data['facility-22-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-22-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-22-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-22-limit-sort'] }}">{{ data['facility-22-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-23-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-23-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-23-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-23-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-23-ukef-id'] }}"><a href="#">{{ data['facility-23-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-23-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-23-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-23-limit-sort'] }}">{{ data['facility-23-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-24-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-24-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-24-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-24-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-24-ukef-id'] }}"><a href="#">{{ data['facility-24-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-24-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-24-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-24-limit-sort'] }}">{{ data['facility-24-limit'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if 'barclays' in data['bank-name'] %}
              {{ data['facility-25-ref-barclays'] }}

              {% elif 'newable' in data['bank-name'] %}
              {{ data['facility-25-ref-newable'] }}

              {% elif 'clydesdale' in data['bank-name'] %}
              {{ data['facility-25-ref-clyde'] }}

              {% elseif 'lloyds' in data['bank-name'] %}
              {{ data['facility-25-ref'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-25-ukef-id'] }}"><a href="#">{{ data['facility-25-ukef-id'] }}</a></td>
            <td class="govuk-table__cell">{{ data['facility-25-name'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-25-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-25-limit-sort'] }}">{{ data['facility-25-limit'] }}</td>
          </tr>
        </tbody>
      </table>

  </div>      

</div>

{% endblock %}
