{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
{{ data['facility-2-name'] }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/version1/upload-download/includes/head.html" %}
  <div class="moj-header__container">
    {% include "/includes/phase-banner.html" %}
  </div>
  {% include "/version1/upload-download/includes/primary-nav-facilities-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="/version1/upload-download/facilities" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        {{ data['facility-2-name'] }}
      </h1>
  
      <h2 class="govuk-heading-m">Overview</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Product
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            General export facility (GEF)
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Product type
            </dt>
            <dd class="govuk-summary-list__value">
              {% if ('barclays' in data['bank-name']) or ('newable' in data['bank-name']) or ('santander' in data['bank-name']) %}
              Cash
              {% elseif ('lloyds' in data['bank-name']) or ('clydesdale' in data['bank-name']) or ('hsbc' in data['bank-name']) or ('rbs' in data['bank-name']) %}
              {{ data['facility-2-type'] }}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Facility description
            </dt>
            <dd class="govuk-summary-list__value">
              {% if ('barclays' in data['bank-name']) or ('newable' in data['bank-name']) or ('hsbc' in data['bank-name']) or ('santander' in data['bank-name']) %}
              Loans
              {% elseif ('lloyds' in data['bank-name']) or ('clydesdale' in data['bank-name']) or ('hsbc' in data['bank-name']) %}
              {{ data['facility-2-description'] }}

              {% elseif ('rbs' in data['bank-name']) %}
              Bond
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Bank facility reference
          </dt>
          <dd class="govuk-summary-list__value">
            {% if 'barclays' in data['bank-name'] %}
            {{ data['facility-2-ref-barclays'] }}
            
            {% elif 'newable' in data['bank-name'] %}
            {{ data['facility-2-ref-newable'] }}

            {% elif 'hsbc' in data['bank-name'] %}
            {{ data['facility-2-ref-hsbc'] }}

            {% elif 'rbs' in data['bank-name'] %}
            {{ data['facility-2-ref-rbs'] }}

            {% elif 'clydesdale' in data['bank-name'] %}
            {{ data['facility-2-ref-clyde'] }}

            {% elif 'santander' in data['bank-name'] %}
            {{ data['facility-2-ref-san'] }}

            {% elif 'lloyds' in data['bank-name'] %}
            {{ data['facility-2-ref'] }}
            {% endif %}
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKEF facility ID
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['facility-2-ukef-id'] }}
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Facility base currency
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['facility-2-base-currency'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        
        </dl>
  
        <h2 class="govuk-heading-m">Value and exposure</h2>
        <p class="govuk-body">Correct as of {{ "today" | govukDate }}</p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Facility limit
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              {{ data['facility-2-base-currency'] }} {{ data['facility-2-limit'] }}
            </dd>
            
          </div>
    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UKEF cover
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['facility-2-cover'] }}
            </dd>
          </div>
    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Maximum UKEF exposure
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['facility-2-base-currency'] }} {{ data['facility-2-max'] }}
            </dd>
          </div>
        </dl> 

  
  
      <!-- Last months report - no chqange links. Display when report is due -->
      <h2 class="govuk-heading-m">Utilisation and fees</h2>
      <p class="govuk-body">Reported amounts for month-end {{ data['end-previous-month'] }}</p>
  
      <!--<p class="govuk-body $govuk-secondary-text-colour">Updated by {{ data['signed-in-name'] }}, {{ data['1-month-ago'] }}</p>-->
  
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Facility utilisation
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            {{ data['facility-2-base-currency'] }} {{ data['facility-2-utilisation'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKEF exposure
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['facility-2-base-currency'] }} {{ data['facility-2-exposure'] }}
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total fees accrued for the month
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['facility-2-base-currency'] }} {{ data['facility-2-accrued'] }} 
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Monthly fees paid to UKEF
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['facility-2-base-currency'] }} {{ data['facility-2-paid'] }} 
          </dd>

        </div>
        
      </dl>
  
      <h2 class="govuk-heading-m">Dates</h2>
      <p class="govuk-body">Correct as of {{ "today" | govukDate }}</p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Cover start date
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              {{ data['facility-2-start-date'] }}
            </dd>
            
          </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cover end date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['facility-2-end-date'] }}
          </dd>
          
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Tenor
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['facility-2-tenor'] }}
            </dd>
            
          </div>
        </dl>
    
  
    </div>
  </div>
  

{% endblock %}
