{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Home – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/version1/upload-download/includes/head.html" %}
  <div class="moj-header__container">
    {% include "/includes/phase-banner.html" %}
  </div>
  {% include "/version1/upload-download/includes/primary-nav-index-selected.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Facility reporting</h1>

    {% if 'due' in data['report-uploaded'] %} 
    <!-- 1st visit to page show report due / download information -->
      <h2 class="govuk-heading-m">{{ data['report-month'] }} report is due</h2>
          <p class="govuk-body">All <a class="govuk-link--no-visited-state" href="facilities">issued facilities</a> must be updated and <a class="govuk-link--no-visited-state" href="upload">sent to UKEF</a> by {{ data['this-month-report-due'] }} using the UKEF {{ data['report-month'] }} template.</p>
          <button class="govuk-button" data-module="govuk-button">
            Download {{ data['report-month'] }} template
          </button>

    {% elif 'sent' in data['report-uploaded'] %}
    <!-- Report has been submitted - show different info -->      
    <h2 class="govuk-heading-m">No report due</h2>

    <p class="govuk-body">The {{ data['report-month'] }} report was sent to UKEF by {{ data['signed-in-name'] }} on {{ data['todays-date'] }} at 10:56am.</p>

    <p class="govuk-body">The {{ data['next-month-report'] }} report template will be available to download on {{ data['start-next-month'] }}.</p>

    <p class="govuk-body">Contact the UKEF team: <a href="#" class="govuk-link--no-visited-state">{{ data['stb-email'] }}</a>.</p> 

    {% elif 'overdue' in data['report-uploaded'] %}
    <!-- 2nd visit to page - upload will be a success -->
    <h2 class="govuk-heading-m">{{ data['report-month'] }} report is overdue</h2>
    
    <div class="govuk-inset-text">
      All <a class="govuk-link--no-visited-state" href="facilities">issued facilities</a> must be updated and <a class="govuk-link--no-visited-state" href="upload">sent to UKEF</a> using the UKEF {{ data['report-month'] }} template.
    </div>

    <button class="govuk-button" data-module="govuk-button">
      Download {{ data['report-month'] }} template
    </button>
    {% endif %}
  </div>      

</div>

{% endblock %}
