{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  There is a problem – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/version1/upload-download/includes/head.html" %}
  <div class="moj-header__container">
    {% include "/includes/phase-banner.html" %}
  </div>
  {% include "/version1/upload-download/includes/primary-nav-upload-selected.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="upload">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Check the report</h1>
      <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#error">You must correct these errors before you can upload the report</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <p class="govuk-body">You can 
          {% if 'barclays' in data['bank-name'] %}
          <a href="/public/downloads/errors-barclays.pdf" class="govuk-link--no-visited-state" target="_blank">

            {% elif 'newable' in data['bank-name'] %}
            <a href="/public/downloads/errors-newable.pdf" class="govuk-link--no-visited-state" target="_blank">

            {% elif 'rbs' in data['bank-name'] %}
            <a href="/public/downloads/errors-rbs.pdf" class="govuk-link--no-visited-state" target="_blank">

            {% elif 'clydesdale' in data['bank-name'] %}
            <a href="/public/downloads/errors-clydesdale.pdf" class="govuk-link--no-visited-state" target="_blank">
            
              {% elif 'hsbc' in data['bank-name'] %}
              <a href="/public/downloads/errors-hsbc.pdf" class="govuk-link--no-visited-state" target="_blank">

            {% elseif 'lloyds' in data['bank-name'] %}
            <a href="/public/downloads/errors-lloyds.pdf" class="govuk-link--no-visited-state" target="_blank">
            {% endif %}
          create a PDF of the errors (opens in a new window or tab)</a>.</p>

        <div class="govuk-form-group govuk-form-group--error govuk-!-margin-top-7">
          <h2 class="govuk-heading-m" id="error">Errors found in 
            {% if 'barclays' in data['bank-name'] %}
            {{ data['file-name-barclays'] }}

            {% elif 'newable' in data['bank-name'] %}
            {{ data['file-name-newable'] }}

            {% elif 'rbs' in data['bank-name'] %}
            {{ data['file-name-rbs'] }}

            {% elif 'clydesdale' in data['bank-name'] %}
            {{ data['file-name-clydesdale'] }}

            {% elif 'hsbc' in data['bank-name'] %}
            {{ data['file-name-hsbc'] }}

            {% elseif 'lloyds' in data['bank-name'] %}
            {{ data['file-name-lloyds'] }}
            {% endif %}
          </h2>
          <p id="passport-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> You must correct these errors before you can upload the report
              </p>
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m"></caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Exporter</th>
                    <th scope="col" class="govuk-table__header">Row</th>
                    <th scope="col" class="govuk-table__header">Column</th>
                    <th scope="col" class="govuk-table__header">Entry</th>
                    <th scope="col" class="govuk-table__header">Error</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ data['facility-1-name'] }}</td>
                    <td class="govuk-table__cell">4</td>
                    <td class="govuk-table__cell">G</td>
                    <td class="govuk-table__cell">34538e.54</td>
                    <td class="govuk-table__cell"><span class="govuk-error-message govuk-!-margin-bottom-0">Facility utilisation must be a number</span></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ data['facility-4-name'] }}</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">H</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"><span class="govuk-error-message govuk-!-margin-bottom-0">Total fees accrued for the month must have an entry</span></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Automation Solutions Ltd</td>
                    <td class="govuk-table__cell">13</td>
                    <td class="govuk-table__cell">G</td>
                    <td class="govuk-table__cell">5,537,938.65</td>
                    <td class="govuk-table__cell"><span class="govuk-error-message govuk-!-margin-bottom-0">Facility utilisation cannot be more than facility limit</span></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">ADB Aeronautics Ltd</td>
                    <td class="govuk-table__cell">17</td>
                    <td class="govuk-table__cell">I</td>
                    <td class="govuk-table__cell">6p1.41</td>
                    <td class="govuk-table__cell"><span class="govuk-error-message govuk-!-margin-bottom-0">Monthly fees paid to UKEF must be a number</span></td>
                  </tr>
                </tbody>
              </table>
        </div> 
        
        <div class="govuk-form-group">

          <h2 class="govuk-heading-m">Upload the report again</h2>
          <p class="govuk-body">You can upload the corrected report now or come back later and upload it.</p>
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">
        </div>
        <div class="govuk-form-group">
        <form class="form" action="check-upload" method="get">
          {{ govukButton({
              text: "Continue"
            }) }}
            <!--<input type="hidden" name="report-uploaded" value="success">-->
        </form>
      </div>

  </div>      

</div>

{% endblock %}


