{% extends "layouts/main.html" %}

{% block pageTitle %}
Bank spreadsheet upload – UK Export Finance – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/includes/head-index.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: ''
  }) }}
  {% endblock %}  


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Bank spreadsheet upload</h1>
    <h2 class="govuk-heading-m">Version 1</h2>
    <p class="govuk-body"><a href="/version1/upload-only/sign-in" class="govuk-link govuk-link--no-visited-state">Upload only</a></p>
    <p class="govuk-body">User journey: first time uploading a file the error screen appears, 2nd time uploading a file (from either the error screen or home screen) it's an error free upload. </p>

    <p class="govuk-body">Note: currently, using the Change link on the Check screen more than once in a session will make the home screen think a report has been submitted.</p>

    <!--<p class="govuk-body"><a href="/version1/upload-download/sign-in" class="govuk-link govuk-link--no-visited-state">With download and facilities</a></p>-->

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    
    <!--<h2 class="govuk-heading-m"><a href="/version2/facility-list.html" class="govuk-link govuk-link--no-visited-state">Version 2</a></h2>  
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">-->
    <p class="govuk-body govuk-!-font-size-19">*Use the <span class="govuk-!-font-weight-bold">Clear data</span> link in the footer to reset between sessions.</p>

    <!--<p>
  Change your service name in the file <strong>app/config.json</strong>
</p>
-->
  </div>
</div>

{% endblock %}
