{% extends "layouts/main.html" %}

{% block pageTitle %}
Bank payments portal &ndash; Version 2 – UK Export Finance – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/includes/head-index.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: ''
  }) }}
  {% endblock %}  

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Bank payments portal &ndash; Version&nbsp;2</h1>
    <h2 class="govuk-heading-m">Bulk reporting payments with spreadsheet upload</h2>

    <h3 class="govuk-heading-s">User guide</h3>
      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>Follow the instructional content in the prototype, the goal is to upload a spreadsheet with the payments made to UKEF from the bank and submit it to UKEF.<br><br>(Hint: you are not expected to enter any data, that will be provided pre-filled on the 'Tab 2' sheet of the spreadsheet).</li>
        <li>The first time of uploading the spreadsheet will always result in seeing the error page. Any other upload after that will result in an error-free upload.</li>
        <li>When looking at the error page you can refer to the 'Tab 2' sheet of the spreadsheet.</li>
        <li>View any of the first 4 issued facilities (sorted by UKEF facility ID). </li>
        <li>Use the <span class="govuk-body govuk-!-font-weight-bold">Clear data</span> link in the footer before starting the journey again.</li>
      </ol>

      <h3 class="govuk-heading-s">Start here</h3>

    <p class="govuk-body">Use the correct link to see that bank's format of reference numbers and its own spreadsheet (no sign in details are needed):</p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=barclays">Barclays</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=clydesdale">Clydesdale</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=hsbc">HSBC</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=lloyds">Lloyds Bank</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=newable">Newable</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=rbs">RBS/Natwest</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=santander">Santander</a>
      </li>
    </ul>   

  </div>
</div>

{% endblock %}
