{% extends "layouts/main.html" %}

{% block pageTitle %}
Bank payments portal &ndash; Version 2 – UK Export Finance – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/includes/head-index.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: ''
  }) }}
  {% endblock %}  

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Bank payments portal &ndash; Version&nbsp;2</h1>
    <h2 class="govuk-heading-m">Bulk reporting payments with spreadsheet upload</h2>

    <h3 class="govuk-heading-s">User guide</h3>
      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>Follow the instructional content in the prototype, the goal is to upload a spreadsheet with the payments made to UKEF from the bank and submit it to UKEF.<br><br>(Hint: you are not expected to enter any data, that will be provided pre-filled on the 'Tab 2' sheet of the spreadsheet).</li>
        <li>The first time of uploading the spreadsheet will always result in seeing the error page. Any other upload after that will result in an error-free upload.</li>
        <li>When looking at the error page you can refer to the 'Tab 2' sheet of the spreadsheet.</li>
        <li>View any of the first 4 issued facilities (sorted by UKEF facility ID). </li>
        <li>Use the <span class="govuk-body govuk-!-font-weight-bold">Clear data</span> link in the footer before starting the journey again.</li>
      </ol>

      <h3 class="govuk-heading-s">Start here</h3>

    <p class="govuk-body">Use the correct link to see that bank's format of reference numbers and its own spreadsheet (no sign in details are needed):</p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=barclays">Barclays</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=clydesdale">Clydesdale</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=hsbc">HSBC</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=lloyds">Lloyds Bank</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=newable">Newable</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=rbs">RBS/Natwest</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/version1/upload-download/sign-in?bank-name=santander">Santander</a>
      </li>
    </ul>   
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">  

    <h2 class="govuk-heading-m" id="pages-development-beta">Pages for development in beta</h2>
    <p class="govuk-body">Links open in a new tab or window.</p>
    
    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-three-quarters govuk-!-font-weight-regular">
          Service options homepage is displayed
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="version1/iterations/service-options"  target="_blank">View page</a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="https://ukef-dtfs.atlassian.net/browse/FN-958" target="_blank">FN-958<span class="govuk-visually-hidden"> Jira ticket</span></a></li>
          </ul>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-three-quarters govuk-!-font-weight-regular">
          Payment Report Officer selects a file for uploading a utilisation report
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="version1/iterations/"  target="_blank">View page</a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="https://ukef-dtfs.atlassian.net/browse/FN-965" target="_blank">FN-965<span class="govuk-visually-hidden"> Jira ticket</span></a></li>
          </ul>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-three-quarters govuk-!-font-weight-regular">
          Report not due (report has already been sent for the current period)
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="version1/iterations/report-not-due"  target="_blank">View page</a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="https://ukef-dtfs.atlassian.net/browse/FN-1089" target="_blank">FN-1089<span class="govuk-visually-hidden"> Jira ticket</span></a></li>
          </ul>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-three-quarters govuk-!-font-weight-regular">
          Report is overdue (the next reporting period is now due)
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="version1/iterations/report-overdue"  target="_blank">View page</a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="https://ukef-dtfs.atlassian.net/browse/FN-1088" target="_blank">FN-1088<span class="govuk-visually-hidden"> Jira ticket</span></a></li>
          </ul>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-three-quarters govuk-!-font-weight-regular">
          Upload error &mdash; File type validation and virus scanning
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="version1/iterations/upload-error"  target="_blank">View page</a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="https://ukef-dtfs.atlassian.net/browse/FN-997" target="_blank">FN-997<span class="govuk-visually-hidden"> Jira ticket</span></a></li>
          </ul>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-three-quarters govuk-!-font-weight-regular">
          There is a problem &mdash; Report is validated for content on upload
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="version1/iterations/check-the-report"  target="_blank">View page</a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="https://ukef-dtfs.atlassian.net/browse/FN-966" target="_blank">FN-966<span class="govuk-visually-hidden"> Jira ticket</span></a></li>
          </ul>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-three-quarters govuk-!-font-weight-regular">
          Report re-upload errors &mdash; File type validation for re-upload
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="version1/iterations/re-upload-errors"  target="_blank">View page</a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="https://ukef-dtfs.atlassian.net/browse/FN-972" target="_blank">FN-972<span class="govuk-visually-hidden"> Jira ticket</span></a></li>
          </ul>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-three-quarters govuk-!-font-weight-regular">
          File successfully validated
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="version1/iterations/file-successfully-validated"  target="_blank">View page</a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="https://ukef-dtfs.atlassian.net/browse/FN-967" target="_blank">FN-967<span class="govuk-visually-hidden"> Jira ticket</span></a></li>
          </ul>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-three-quarters govuk-!-font-weight-regular">
          Report uploaded and sent confirmation
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="version1/iterations/confirmation"  target="_blank">View page</a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="https://ukef-dtfs.atlassian.net/browse/FN-969" target="_blank">FN-969<span class="govuk-visually-hidden"> Jira ticket</span></a></li>
          </ul>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-three-quarters govuk-!-font-weight-regular">
          Problem with the service &mdash; Report upload unsuccessful
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="version1/iterations/problem-with-service"  target="_blank">View page</a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="https://ukef-dtfs.atlassian.net/browse/FN-978" target="_blank">FN-978<span class="govuk-visually-hidden"> Jira ticket</span></a></li>
          </ul>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-three-quarters govuk-!-font-weight-regular">
          Previous reports
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="version1/iterations/previous-reports"  target="_blank">View page</a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="https://ukef-dtfs.atlassian.net/browse/FN-980" target="_blank">FN-980<span class="govuk-visually-hidden"> Jira ticket</span></a></li>
          </ul>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-three-quarters govuk-!-font-weight-regular">
          No previous reports
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="version1/iterations/previous-reports-none"  target="_blank">View page</a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="https://ukef-dtfs.atlassian.net/browse/FN-980" target="_blank">FN-980<span class="govuk-visually-hidden"> Jira ticket</span></a></li>
          </ul>
        </dd>
      </div>

    </dl>
  </div>
</div>

{% endblock %}
